[Desktop Entry]
X-AppInstall-Package=rolisteam
X-AppInstall-Section=universe

Type=Application
Name=Rolisteam
Name[ca]=Rolisteam
Name[ca@valencia]=Rolisteam
Name[es]=Rolisteam
Name[gl]=Rolisteam
Name[nl]=Rolisteam
Name[pt]=Rolisteam
Name[sk]=Rolisteam
Name[sv]=Rolisteam
Name[uk]=Rolisteam
Name[x-test]=xxRolisteamxx
Icon=/usr/share/app-install/icons/rolisteam.svg
Version=1.5.0
Comment=Manage your role playing game
Comment[ca]=Gestiona la partida de joc de rol
Comment[ca@valencia]=Gestiona la partida de joc de rol
Comment[es]=Gestionar su papel en el juego
Comment[gl]=Xestionar o seu xogo de rol
Comment[nl]=Uw rollenspelspel beheren
Comment[pt]=Faça a gestão do seu jogo de personagens
Comment[sv]=Hantera rollspel
Comment[uk]=Керування вашою рольовою грою
Comment[x-test]=xxManage your role playing gamexx
Exec=/usr/bin/rolisteam
Terminal=false
Categories=Game;

