[Desktop Entry]
X-AppInstall-Package=rcse
X-AppInstall-Section=universe

Type=Application
Name=RCSE
Name[ca]=RCSE
Name[ca@valencia]=RCSE
Name[cs]=RCSE
Name[de]=RCSE
Name[es]=RCSE
Name[et]=RCSE
Name[fr]=RCSE
Name[gl]=RCSE
Name[nl]=RCSE
Name[pl]=RCSE
Name[pt]=RCSE
Name[sk]=RCSE
Name[sv]=RCSE
Name[uk]=RCSE
Name[x-test]=xxRCSExx
Icon=/usr/share/app-install/icons/symbol2.png
Version=1.0.0
Comment=Create charactersheet for rolisteam.
Comment[ca]=Crea un full de caràcter per al Rolisteam.
Comment[ca@valencia]=Crea un full de caràcter per al Rolisteam.
Comment[de]=Vorlagen für Charaktere erstellen
Comment[es]=Crear hoja de caracteres para Rolisteam.
Comment[et]=Rolisteami karakterilehe loomine.
Comment[fr]=Créer des feuilles de personnage pour rolisteam.
Comment[gl]=Crear unha folla de caracteres para rolisteam.
Comment[nl]=Tekensheet voor rolisteam maken.
Comment[pl]=Utwórz arkusz znaków dla rolisteam.
Comment[pt]=Criar uma folha de personagem para o Rolisteam.
Comment[sv]=Skapa karaktärsblad för rolisteam.
Comment[uk]=Створити аркуш персонажів для rolisteam.
Comment[x-test]=xxCreate charactersheet for rolisteam.xx
Exec=/usr/bin/rcse
Terminal=false
Categories=Game;

