[Desktop Entry]
X-AppInstall-Package=rcse
X-AppInstall-Section=universe

Type=Application
Name=RCSE
Name[az]=RCSE
Name[ca]=RCSE
Name[ca@valencia]=RCSE
Name[cs]=RCSE
Name[de]=RCSE
Name[en_GB]=RCSE
Name[es]=RCSE
Name[et]=RCSE
Name[fi]=RCSE
Name[fr]=RCSE
Name[gl]=RCSE
Name[hi]=आरसीएसई
Name[it]=RCSE
Name[ko]=RCSE
Name[nl]=RCSE
Name[nn]=RCSE
Name[pl]=RCSE
Name[pt]=RCSE
Name[pt_BR]=RCSE
Name[ro]=RCSE
Name[sk]=RCSE
Name[sl]=RCSE
Name[sv]=RCSE
Name[uk]=RCSE
Name[x-test]=xxRCSExx
Icon=rcse
Version=1.9.3
Comment=Create charactersheet for rolisteam.
Comment[az]=Rolistem üçün xarakter cədvəli yaratmaq
Comment[ca]=Crea un full de caràcter per al Rolisteam.
Comment[ca@valencia]=Crea un full de caràcter per a Rolisteam.
Comment[de]=Vorlagen für Charaktere erstellen
Comment[en_GB]=Create character sheet for rolisteam.
Comment[es]=Crear hoja de caracteres para Rolisteam.
Comment[et]=Rolisteami karakterilehe loomine.
Comment[fr]=Créer des feuilles de personnage pour rolisteam.
Comment[gl]=Crear unha folla de caracteres para rolisteam.
Comment[hi]=रोलीस्टीम के लिए चरित्रपत्र का सृजन करें
Comment[it]=Crea schede dei personaggi per rolisteam
Comment[ko]=Rolistream의 캐릭터 시트를 만듭니다.
Comment[nl]=Tekensheet voor rolisteam maken.
Comment[nn]=Lagar spelkarakter-ark for rolisteam.
Comment[pl]=Utwórz arkusz znaków dla rolisteam.
Comment[pt]=Criar uma folha de personagem para o Rolisteam.
Comment[pt_BR]=Criar folha de personagem para o Rolisteam.
Comment[ro]=Creează foaie de caractere pentru rolisteam.
Comment[sl]=Ustvari tabelo znakov za rolisteam.
Comment[sv]=Skapa karaktärsblad för rolisteam.
Comment[uk]=Створити аркуш персонажів для rolisteam.
Comment[x-test]=xxCreate charactersheet for rolisteam.xx
Exec=rcse
Terminal=false
Categories=Game;
