[Desktop Entry]
X-AppInstall-Package=rolisteam
X-AppInstall-Section=universe

Type=Application
Name=Rolisteam
Name[az]=Rolisteam
Name[ca]=Rolisteam
Name[ca@valencia]=Rolisteam
Name[cs]=Rolisteam
Name[de]=Rolisteam
Name[en_GB]=Rolisteam
Name[es]=Rolisteam
Name[et]=Rolisteam
Name[fr]=Rolisteam
Name[gl]=Rolisteam
Name[it]=Rolisteam
Name[ko]=Rolisteam
Name[nl]=Rolisteam
Name[nn]=Rolisteam
Name[pl]=Rolisteam
Name[pt]=Rolisteam
Name[pt_BR]=Rolisteam
Name[ro]=Rolisteam
Name[sk]=Rolisteam
Name[sl]=Rolisteam
Name[sv]=Rolisteam
Name[uk]=Rolisteam
Name[x-test]=xxRolisteamxx
Icon=org.rolisteam.rolisteam
Version=1.1
Comment=Manage your role playing game
Comment[az]=Rol oyununuzu idarə edin
Comment[ca]=Gestiona la partida del joc de rol
Comment[ca@valencia]=Gestiona la partida del joc de rol
Comment[de]=Verwaltung eines Rollenspiels
Comment[en_GB]=Manage your role playing game
Comment[es]=Gestionar su papel en el juego
Comment[et]=Oma rollimängu haldamine
Comment[fr]=Gérez votre jeu de rôle
Comment[gl]=Xestionar o seu xogo de rol
Comment[it]=Gestisci il tuo gioco di ruolo
Comment[ko]=내 롤 플레잉 게임 관리
Comment[nl]=Uw rollenspelspel beheren
Comment[nn]=Organiser rollespel
Comment[pl]=Zarządzaj swoją grą rpg
Comment[pt]=Faça a gestão do seu jogo de personagens
Comment[pt_BR]=Gerencie seu RPG
Comment[ro]=Gestionați-vă jocul pe roluri
Comment[sl]=Upravljajte svojo igranje vlog
Comment[sv]=Hantera rollspel
Comment[uk]=Керування вашою рольовою грою
Comment[x-test]=xxManage your role playing gamexx
Exec=rolisteam
Terminal=false
Categories=Game;

